<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Library | Daily Reminder - Visit Site!</title>
</head>

<body>
    <h1> <span style="font-size: 25px;">Dear, </span> {{ user.name }}</h1>
    <h1>Forgot to visit out <span style="color: green;">CityLibrary</span> today ?</h1>
    <h3>Hop on quickly. Dont miss the streak!</h3>

    <p> Thanks,
        <br>
        Ranjeet
    </p>
</body>

</html>